.claim:before {
  content: "Our claim";
  font-weight:bold;
  display: block;
  border-left: 10px solid transparent;
}

.claim {
  border-bottom: 10px solid transparent;
}

.evidence:before {
  content: "Our evidence";
  font-weight:bold;
  display: block;
  border-left: 10px solid transparent;
}